<div class="container my-3">
  <p><strong>Straight line distance:</strong> <%= @rhumb_dist.round %> Kilometers</p>
  <p><strong>Great circle distance:</strong> <%= @great_circle.round %> Kilometers</p>
</div>
