<div class="my-3 d-flex justify-content-between px-3">
  <h1 class="title">This is your distance calculator</h1>
  <div class="d-flex align-items-center gap-2 p-2" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <input type="text" class="rounded-pill" data-address-autocomplete-target="pointb">|
    <input type="text" class="rounded-pill" data-address-autocomplete-target="pointa">
    <button class="btn btn-dark rounded-pill" data-action="click->address-autocomplete#getLatLong">Calculate</button>
  </div>
</div>
<embed type="text/html" src="distance.html" width="100%" height="600">
